.nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.nav__black{
    background-color: #111;

}

.nav__logo{
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;
}

.nav__avatar{
    width: 30px;
    object-fit: contain;
    position: fixed;
    right: 20px;
}