.row{
    color: #fff;
    margin-left: 50px;

}

.row__posters{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px 0;
    position: relative;
}




.row__posters::-webkit-scrollbar {
    display: none;
  }

.row__poster{
    object-fit: contain;
    /* width: 100%; */
    max-height: 140px;
    margin-right: 10px;
    transition: transform 450ms;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.movie__votes{
    position: absolute;
    top: 10px;
    font-size: 1.3em;
    /* opacity: 0; */
    padding: 10px;
    font-weight: 600;
}

.row__poster:hover{
    transform: scale(1.07);
    opacity: 0.6;
    
}



.row__posterLarge{
    max-height: 250px;
}

.row__posterLarge:hover{
    transform: scale(1.09);
}
